.rebar3
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
deps
log
logs
erl_crash.dump
.rebar
rebar3.crashdump
_build
.idea
*.iml
/doc/
/tmp/
/.claude/settings.local.json

# asdf
.tool-versions
